<div class="relative top-14 p-4 font text-center">
  <div
    class="max-w-4xl mx-auto my-10 bg-white-800/70 backdrop-blur-3xl shadow-md rounded-lg overflow-hidden"
  >
    <div
      class="bg-purple-600/70 backdrop-blur-xl text-white py-8 px-6 text-center"
    >
      <h1 class="text-4xl font-bold">Natia Saghliani</h1>
      <p class="text-lg mt-2">Frontend Developer</p>
    </div>

    <div class="p-6 text-center">
      <p class="text-black-700 text-lg">
        <strong>📍 Location:</strong> Tbilisi, Georgia
      </p>
      <p class="text-black-700 text-lg">
        <strong>📞 Phone:</strong> +995 598 800 344
      </p>
      <p class="text-black-700 text-lg">
        <strong>✉️ Email:</strong>
        <a
          href="mailto:natiasaghliani0@gmail.com"
          class="text-black-600 hover:underline"
          >natiasaghliani0&#64;gmail.com</a
        >
      </p>
      <p class="text-black-700 text-lg">
        <strong>🔗 LinkedIn:</strong>
        <a
          href="https://www.linkedin.com/in/natia-saghliani-64b645228"
          target="_blank"
          class="text-black-600 hover:underline"
        >
          natia-saghliani-64b645228
        </a>
      </p>
      <p class="text-black-700 text-lg">
        <strong>🔗 GitHub:</strong>
        <a
          href="https://github.com/natiasaghliani?tab=repositories"
          target="_blank"
          class="text-black-600 hover:underline"
        >
          github.com/natiasaghliani
        </a>
      </p>
    </div>

    <div class="p-6">
      <h2 class="text-2xl font-semibold text-black-800 mb-2">
        Professional Summary
      </h2>
      <p class="text-black-700 leading-relaxed">
        Motivated <strong>Frontend Developer</strong> with a background in
        Angular, JavaScript, and modern web technologies. Experienced in
        customer support, incident management, and education assistance. Adept
        at problem-solving and improving user experiences. Looking to apply
        technical expertise and communication skills to contribute to impactful
        projects.
      </p>
    </div>

    <div class="p-6">
      <h2 class="text-2xl font-semibold text-black-800 mb-2">
        Technical Skills
      </h2>
      <ul class="list-disc list-inside text-black-700">
        <li>Programming Languages: <strong>TypeScript, JavaScript</strong></li>
        <li>
          Frontend Technologies:
          <strong
            >Angular, HTML5, CSS3, Tailwind CSS, Bootstrap, Angular Material,
            SASS</strong
          >
        </li>
        <li>Tools & Platforms: <strong>Git, SQL, Power BI, Excel</strong></li>
      </ul>
    </div>

    <div class="p-6">
      <h2 class="text-2xl font-semibold text-black-800 mb-2">
        Professional Experience
      </h2>
      <div class="mb-4">
        <h3 class="text-lg font-bold text-black-800">
          Lecturer's Assistant | Geo Lab, Tbilisi
        </h3>
        <p class="text-sm text-black-600">Sep 2022 – Dec 2022</p>
        <ul class="list-disc list-inside text-black-700 mt-2">
          <li>Assisted in delivering JavaScript and HTML/CSS lectures.</li>
          <li>
            Reviewed student assignments and provided constructive feedback.
          </li>
          <li>Supported hands-on projects to enhance learning.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold text-black-800">
          Incident Manager | Digital Area, Tbilisi
        </h3>
        <p class="text-sm text-black-600">Jan 2021 – Jan 2023</p>
        <ul class="list-disc list-inside text-black-700 mt-2">
          <li>Resolved complex customer issues efficiently.</li>
          <li>
            Delivered excellent customer support to enhance user satisfaction.
          </li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold text-black-800">
          Remote Sales Banker | Bank of Georgia, Tbilisi
        </h3>
        <p class="text-sm text-black-600">Jan 2020 – May 2020</p>
        <ul class="list-disc list-inside text-black-700 mt-2">
          <li>Promoted and sold banking products to clients.</li>
          <li>Provided exceptional customer service and support.</li>
        </ul>
      </div>
      <div class="mb-4">
        <h3 class="text-lg font-bold text-black-800">
          Au Pair & Exchange Student | Agent Au Pair, Wilmington, DE, USA
        </h3>
        <p class="text-sm text-black-600">Jan 2023 – Sep 2023</p>
        <ul class="list-disc list-inside text-black-700 mt-2">
          <li>Immersed in an international cultural exchange program.</li>
          <li>
            Demonstrated adaptability, problem-solving, and interpersonal
            skills.
          </li>
        </ul>
      </div>
    </div>

    <div class="p-6">
      <h2 class="text-2xl font-semibold text-black-800 mb-2">Education</h2>
      <ul class="list-disc list-inside text-black-700">
        <li>
          Bachelor of Arts in Economics |
          <strong>Tbilisi State University</strong> (2018 – 2022)
        </li>
        <li>
          Frontend Development Program | <strong>IT Academy STEP</strong> (2023
          – 2024)
        </li>
        <li>
          Risk Management Program | <strong>TBC Risk Academy</strong> (2022)
        </li>
      </ul>
    </div>

    <div class="p-6">
      <h2 class="text-2xl font-semibold text-black-800 mb-2">Languages</h2>
      <ul class="list-disc list-inside text-black-700">
        <li>Georgian: Native</li>
        <li>English: Professional Proficiency</li>
        <li>Russian: Intermediate</li>
      </ul>
    </div>
  </div>
</div>
