<div class="container p-4 cursor-pointer w-full fixed-home">
    <section id="about" class="w-full p-4 mb-6 flex flex-col md:flex-row items-center justify-center">
        <div class="w-full md:w-1/2 flex flex-col items-start justify-center"> 
            <h1 class="text-5xl mb-6 drop-shadow">Hi There!</h1>
            <h3 class="text-4xl font-bold md:text-5xl mb-6">I'm Natia Saghliani</h3>
            <h2 class="text-3xl">Welcome to My Portfolio!</h2>
        </div>
        <img src="../../assets/images/home-pc.png" alt="" class="md:w-1/2 p-12">
    </section>
</div>
