<div class="container p-4 cursor-pointer fixed-home">

    <!-- About Me Section -->
    <section id="about" class="w-screen  p-4 mb-6 font flex">

        <div class="w-7/12 pt-32"> 
            <h1 class="text-5xl mb-6 drop-shadow">Hi There!</h1>

            <h3 class="text-5xl mb-6">I'm Natia Saghliani</h3>
            <h2 class="text-3xl">Welcome to My Portfolio!</h2>
        </div>
        <img src="../../assets/images/home-pc.png" alt="" class="w-4/12">

        

        <!-- <h2>About Me</h2>
      <p>Hello! I'm a junior Angular developer passionate about front-end development and building interactive applications.</p> -->
    </section>

    <!-- Projects Section -->
    <!-- <section id="projects">
      <h2>Projects</h2>
      @for(project of projects; track project.id){
      <div class="project-card">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
        <button routerLink="['/project', project.id]">View Project</button>
      </div>}
    </section> -->
</div>

<!-- bg-pink-600/60 backdrop-opacity-10 backdrop-invert rounded-lg -->